.landing__page-container{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    min-height: 200px;
    color: #FAFAFA;
}

.landing__page-image{
    height: 190px;
    padding-top: 0.5rem;
}

.landing-image{
    height: 100%;
}
.landing__page-text{
    text-align: center;
    justify-content:  center;
}

.data-aos{
    font-size: 1.5rem;
    font-family: 'Bangers', sans-serif;
    letter-spacing: 0.2rem;
    margin-top: 0.3rem;
}

.typewriter{
    font-size: 1.2rem;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .data-aos{
        font-size: 2.0rem;
        font-family: 'Bangers', sans-serif;
        letter-spacing: 0.25rem;
        margin-top: 0.3rem;
    }

    .typewriter{
        font-size: 1.5rem;
        font-weight: bold;
    }
}