.current__character{
	font-size: 14px;
	line-height: 19px;
}

.correct-character {
	color: #42db18;
}

.incorrect-character {
	color: #fF6007;
}

.notAttempted-character {
	color: #FEFEFE;
}

@media screen and (min-width: 600px) {
	current__character{
		font-size: 21px;
	}
}