.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.socials{
    display: flex;
    align-items: center; 
    margin: 1rem;
    gap: 2rem;
    font-size: 1.4rem;
}

/* .twitter{
    color: #FFF;
} */
.copyrights{
    display: flex;
    justify-content: center;
    margin-top: -2rem;
    gap: 0.4rem;
}
.copyright, .footer_text{
    color: #FAFAFA;
    /* padding: 0.6rem; */
    font-style: italic;
}
.year{    
    margin-left: 0.13rem;
}